@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Your Books</h2>
    <div class="card-columns">
        @foreach (var loan in Model.Loans.LoanList)
        {
            <div class="card mb-3" style="width: 18rem;">
                <a href="book/@loan.BookId" class="card-title"><img class="card-img-top" src="@loan.book.BookCoverString" alt="BookCover">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a href="book/@loan.BookId" class="card-title">@loan.BookTitle</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">@loan.book.AuthorString</h6>
                    <p class="card-text">Due: @loan.LoanDuedate.ToShortDateString()</p>
                    <input class="btn btn-primary" type="button" value="Return Book" onclick="location.href='@Url.Action("ReturnBook", "Home", new {loanId = loan.LoanId})'"/>
                </div>
            </div>

        }
    </div>
</div>